﻿@model MvcPhoneDirectory.Models.PhoneNumber
@{
    ViewData["Title"] = "CreateNumber";
}

<h1>Добавить номер в </h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateNumber">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернутся к списку контактов</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
