﻿@model MvcPhoneDirectory.Models.Subscriber

@{
    ViewData["Title"] = "Удаление";
}

<h2>Удаление абонента @Model.LastName</h2>

<h3>Вы уверены, что хотите сделать это?</h3>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Да" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
