﻿@model MvcPhoneDirectory.Models.PhoneNumber
@{
    ViewData["Title"] = "Удаление номера";
}

<h2>Номер @Model.Number</h2>
<h3>Вы уверены, что хотите сделать это?</h3>
<form asp-action="DeleteNumber">
    <input type="hidden" asp-for="ID" />
    <input type="submit" value="Да" class="btn btn-danger" /> |
    <a asp-action="Details" asp-route-id="@Model.SubscriberId">Назад</a>
</form>