﻿@model MvcPhoneDirectory.Models.Subscriber

@{
    ViewData["Title"] = "Подробнее";
}

<h1>Подробнее</h1>

<div>
    <h4>Абонент</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patronymic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumbers)
        </dt>
        <dd class="col-sm-10">
            @foreach (PhoneNumber value in ViewBag.numbers)
            {
                @value.Number <a asp-action="DeleteNumber" asp-route-id="@value.ID">Удалить</a>
                <br>
            }
        </dd>
        <dt class="col-sm-2">
        </dt>
        <dd class="col-sm-10">
            <a asp-action="CreateNumber" asp-route-id="@Model.ID">Добавить еще</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Назад к списку контактов</a>
</div>
