﻿
@model IEnumerable<MvcPhoneDirectory.Models.Subscriber>

@{
    ViewData["Title"] = "Телефонный справочник";
}

<h1>Телефонный справочник</h1>

<p>
    <a asp-action="CreateSubscriber">Создать новый контакт</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortContact="@ViewBag.LastNameSort">
                    @Html.DisplayNameFor(model => model.LastName)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortContact="@ViewBag.FirstNameSort">
                    @Html.DisplayNameFor(model => model.FirstName)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortContact="@ViewBag.PatronymicSort">
                    @Html.DisplayNameFor(model => model.Patronymic)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patronymic)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">Посмотреть</a> |
                    <a asp-action="DeleteSubscriber" asp-route-id="@item.ID">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
